body {
    background-image: url('https://images.unsplash.com/photo-1682334288172-88e43f2d7d59?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW5zJTIwYnklMjBuaWdodHxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000');
    background-size: cover;
    background-position: center;
}

.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}

.bbh-sans-bartle-regular {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 90%;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
}

.middle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.InputContainer {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 8, 8);
  overflow: hidden;
  padding: 0px 5px 0px 15px;
  border: 1px solid rgba(255, 255, 255, 0.322);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  width: fit-content;
}

.input {
  width: 170px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(8, 8, 8);
  font-weight: 600;
  color: white;
}

.visaCard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 25px;
  background-color: rgb(8, 8, 8);
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.068);
  border-radius: 7px;
}


